*{margin:0;padding:0;}
body{font-family:'microsoft yahei';background:url(../images/bg-1.jpg) no-repeat;background-position:center center;background-attachment:fixed;background-size:cover;background-color:#f6f6f6}

.time{color:#f6f6f6;text-shadow:0 0 10px #f6f6f6;}
.time img{width:6%;}
#_d{font-size:2.8rem;color:#C12F37;font-weight:bold;}
#_h,#_m,#_s{font-size:1.8rem;color:#C12F37;font-weight:bold;}

.header{text-align:center;}
.header .logo{padding-top:2.5rem;margin-top:100px;}
.header .logo img{width:120px;}
.header .time{height:120px;line-height:120px;}
